<div class="rounded-lg border bg-card text-card-foreground shadow-sm cosmic-card">
  <h3 class="text-xl font-bold mb-4 text-primary">
    <%= t ".title" %>
  </h3>
  <div class="space-y-3">
    <div class="calendar-item">
      <div class="text-sm text-muted-foreground">
        <%= t ".titles.islamic_calendar" %>
      </div>
      <div class="font-semibold">
        <%= HijriCalendar.formatted_date_for(@time) %>
      </div>
    </div>
    <div class="calendar-item">
      <div class="text-sm text-muted-foreground">
        <%= t ".titles.chinese_calendar" %>
      </div>
      <div class="font-semibold">
        <em>Coming soon</em>
      </div>
      <!--<div class="font-semibold">八月初六 (8th Month, Day 6)</div>-->
      <!--<div class="text-xs text-accent">Year of the Snake 蛇</div>-->
    </div>
    <div class="calendar-item">
      <div class="text-sm text-muted-foreground">
        <%= t ".titles.hebrew_calendar" %>
      </div>
      <div class="font-semibold">
        <%= HebrewCalendar.formatted_date_for(@time) %>
      </div>
    </div>
  </div>
</div>
