<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : t("title") %>
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="text-gray-900" data-controller="dark-mode">
<main class="px-6 py-8 space-y-6">
  <%= render "shared/header", observer: @observer %>
  <%= yield %>
  <hr>
  <%= render "shared/footer" %>
</main>

<turbo-frame id="location_modal"></turbo-frame>
<% unless cookie_consent_chosen? %>
  <%= render "shared/cookie_consent_banner" %>
<% end %>
</body>
</html>
